<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container {
            height: 30px;
        }
    </style>
</head>

<body>
<div class='container'>
    <div class='row' style="background-color: darkgray">
        <div class='col-md-10' style="">
            <p style="color: white">收银界面</p>
        </div>
        <div class="col-md-2">
            <p class="text-right">welcome! {{ username }} | <a href="/shop/logout/">注销</a></p>
        </div>
    </div>
</div>
</body>
</html>
